{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h1 title="Check">Check your Url</h1>
    <div class="center">
        <div class="example-wrapper">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
